.score-card {
  margin-top: 10vh;
  margin-left: 25vh;
  height: 60vh;
  margin-right: 25vh;
  .card-body {
    padding: 0.6em;
  }
}
.tabs-footer {
}
ul.score-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
